#  DataFrame

In [1]:
import pandas as pd

In [2]:
# Empty DataFrame
empty_df = pd.DataFrame()

In [3]:
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
# Create Dataframe from List
list = [ 'a', 'b', 'c']
print(list)

['a', 'b', 'c']

In [5]:
df1 = pd.DataFrame(list)

In [6]:
print(df1)

   0
0  a
1  b
2  c

In [7]:
df1

   0
0  a
1  b
2  c

In [8]:
#creating DataFrame from list of list
list1 = [[1,2,3],[5,6,7],[8,9,4]]

In [9]:
print(list1)

[[1, 2, 3], [5, 6, 7], [8, 9, 4]]

In [10]:
df2 = pd.DataFrame(list1)

In [11]:
df2

   0  1  2
0  1  2  3
1  5  6  7
2  8  9  4

In [12]:
# Create Dictionary
dict1 = {'ID' : [10,11,12,27]}

In [13]:
df3 = pd.DataFrame(dict1)

In [14]:
df3

   ID
0  10
1  11
2  12
3  27

In [15]:
#Multiple Dictionary (THE TWO ARRAY VALUE MUST BE SAME : ID & SN )
dict2 = {'ID' : [10,11,12,27], 'SN': [56,23,65,78]}

In [16]:
df4 = pd.DataFrame(dict2)

In [17]:
df4

   ID  SN
0  10  56
1  11  23
2  12  65
3  27  78

In [18]:
#list of dictionary equal length
List_dic = [{'a':1, 'b':2},{'a':3, 'b':4} ]

In [19]:
df5 = pd.DataFrame(List_dic)

In [20]:
df5

   a  b
0  1  2
1  3  4

In [21]:
#list of dictionary unequal length
List_dic1 = [{'a':1, 'b':2},{'a':3, 'b':4, 'c':5} ]

In [22]:
df6 = pd.DataFrame(List_dic1)

In [23]:
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [24]:
#Dictionary of Series
dict_sr = {'ID':pd.Series([1,2,3]), 'SN': [56,23,65]}

In [25]:
df7 = pd.DataFrame(dict_sr)

In [26]:
df7

   ID  SN
0   1  56
1   2  23
2   3  65