# Pandas Merge Function

Pandas merge connects columns or indexes in DataFrame based on one or more keys

In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('C:\\Users\\User\\Desktop\\Anindita Mitra\\Machine Learning\\EDA\\Cafe_Sales.csv')
df1

   ORDERNUMBER PRODUCTLINE  ITEMSSOLD         SALES
0        10381      Coffee         30   8254.800000
1        10391      Coffee         34   4140.230000
2        10223  Cafe Mocha         16   2793.860000
3        10236  Cafe Mocha         41   3307.770000
4        10251  Cafe Mocha         20   6635.109333
5        10263  Cafe Mocha         21   4472.000000
6        10168       Latte         39  12001.000000
7        10180       Latte         30   4140.230000
8        10188       Latte         32   9264.860000

In [11]:
df2 = pd.read_csv('C:\\Users\\User\\Desktop\\Anindita Mitra\\Machine Learning\\EDA\\Cafe_Region.csv')
df2

   Country PRODUCTLINE
0  Belgium      Coffee
1  Belgium      Coffee
2  Belgium  Cafe Mocha
3  Belgium  Cafe Mocha
4  Germany  Cafe Mocha
5  Germany  Cafe Mocha
6   France       Latte
7   France       Latte
8   France       Latte

In [12]:
#Intersection : Only common value is merrged not the rest
pd.merge(df1,df2, on ='PRODUCTLINE')

    ORDERNUMBER PRODUCTLINE  ITEMSSOLD         SALES  Country
0         10381      Coffee         30   8254.800000  Belgium
1         10381      Coffee         30   8254.800000  Belgium
2         10391      Coffee         34   4140.230000  Belgium
3         10391      Coffee         34   4140.230000  Belgium
4         10223  Cafe Mocha         16   2793.860000  Belgium
5         10223  Cafe Mocha         16   2793.860000  Belgium
6         10223  Cafe Mocha         16   2793.860000  Germany
7         10223  Cafe Mocha         16   2793.860000  Germany
8         10236  Cafe Mocha         41   3307.770000  Belgium
9         10236  Cafe Mocha         41   3307.770000  Belgium
10        10236  Cafe Mocha         41   3307.770000  Germany
11        10236  Cafe Mocha         41   3307.770000  Germany
12        10251  Cafe Mocha         20   6635.109333  Belgium
13        10251  Cafe Mocha         20   6635.109333  Belgium
14        10251  Cafe Mocha         20   6635.109333  Germany
15        10251  Cafe Mocha         20   6635.109333  Germany
16        10263  Cafe Mocha         21   4472.000000  Belgium
17        10263  Cafe Mocha         21   4472.000000  Belgium
18        10263  Cafe Mocha         21   4472.000000  Germany
19        10263  Cafe Mocha         21   4472.000000  Germany
20        10168       Latte         39  12001.000000   France
21        10168       Latte         39  12001.000000   France
22        10168       Latte         39  12001.000000   France
23        10180       Latte         30   4140.230000   France
24        10180       Latte         30   4140.230000   France
25        10180       Latte         30   4140.230000   France
26        10188       Latte         32   9264.860000   France
27        10188       Latte         32   9264.860000   France
28        10188       Latte         32   9264.860000   France

In [13]:
pd.merge(df2,df1, on ='PRODUCTLINE')

    Country PRODUCTLINE  ORDERNUMBER  ITEMSSOLD         SALES
0   Belgium      Coffee        10381         30   8254.800000
1   Belgium      Coffee        10391         34   4140.230000
2   Belgium      Coffee        10381         30   8254.800000
3   Belgium      Coffee        10391         34   4140.230000
4   Belgium  Cafe Mocha        10223         16   2793.860000
5   Belgium  Cafe Mocha        10236         41   3307.770000
6   Belgium  Cafe Mocha        10251         20   6635.109333
7   Belgium  Cafe Mocha        10263         21   4472.000000
8   Belgium  Cafe Mocha        10223         16   2793.860000
9   Belgium  Cafe Mocha        10236         41   3307.770000
10  Belgium  Cafe Mocha        10251         20   6635.109333
11  Belgium  Cafe Mocha        10263         21   4472.000000
12  Germany  Cafe Mocha        10223         16   2793.860000
13  Germany  Cafe Mocha        10236         41   3307.770000
14  Germany  Cafe Mocha        10251         20   6635.109333
15  Germany  Cafe Mocha        10263         21   4472.000000
16  Germany  Cafe Mocha        10223         16   2793.860000
17  Germany  Cafe Mocha        10236         41   3307.770000
18  Germany  Cafe Mocha        10251         20   6635.109333
19  Germany  Cafe Mocha        10263         21   4472.000000
20   France       Latte        10168         39  12001.000000
21   France       Latte        10180         30   4140.230000
22   France       Latte        10188         32   9264.860000
23   France       Latte        10168         39  12001.000000
24   France       Latte        10180         30   4140.230000
25   France       Latte        10188         32   9264.860000
26   France       Latte        10168         39  12001.000000
27   France       Latte        10180         30   4140.230000
28   France       Latte        10188         32   9264.860000

In [14]:
pd.merge(df1,df2, how ='inner')

    ORDERNUMBER PRODUCTLINE  ITEMSSOLD         SALES  Country
0         10381      Coffee         30   8254.800000  Belgium
1         10381      Coffee         30   8254.800000  Belgium
2         10391      Coffee         34   4140.230000  Belgium
3         10391      Coffee         34   4140.230000  Belgium
4         10223  Cafe Mocha         16   2793.860000  Belgium
5         10223  Cafe Mocha         16   2793.860000  Belgium
6         10223  Cafe Mocha         16   2793.860000  Germany
7         10223  Cafe Mocha         16   2793.860000  Germany
8         10236  Cafe Mocha         41   3307.770000  Belgium
9         10236  Cafe Mocha         41   3307.770000  Belgium
10        10236  Cafe Mocha         41   3307.770000  Germany
11        10236  Cafe Mocha         41   3307.770000  Germany
12        10251  Cafe Mocha         20   6635.109333  Belgium
13        10251  Cafe Mocha         20   6635.109333  Belgium
14        10251  Cafe Mocha         20   6635.109333  Germany
15        10251  Cafe Mocha         20   6635.109333  Germany
16        10263  Cafe Mocha         21   4472.000000  Belgium
17        10263  Cafe Mocha         21   4472.000000  Belgium
18        10263  Cafe Mocha         21   4472.000000  Germany
19        10263  Cafe Mocha         21   4472.000000  Germany
20        10168       Latte         39  12001.000000   France
21        10168       Latte         39  12001.000000   France
22        10168       Latte         39  12001.000000   France
23        10180       Latte         30   4140.230000   France
24        10180       Latte         30   4140.230000   France
25        10180       Latte         30   4140.230000   France
26        10188       Latte         32   9264.860000   France
27        10188       Latte         32   9264.860000   France
28        10188       Latte         32   9264.860000   France

In [15]:
pd.merge(df2,df1, how ='left')

    Country PRODUCTLINE  ORDERNUMBER  ITEMSSOLD         SALES
0   Belgium      Coffee        10381         30   8254.800000
1   Belgium      Coffee        10391         34   4140.230000
2   Belgium      Coffee        10381         30   8254.800000
3   Belgium      Coffee        10391         34   4140.230000
4   Belgium  Cafe Mocha        10223         16   2793.860000
5   Belgium  Cafe Mocha        10236         41   3307.770000
6   Belgium  Cafe Mocha        10251         20   6635.109333
7   Belgium  Cafe Mocha        10263         21   4472.000000
8   Belgium  Cafe Mocha        10223         16   2793.860000
9   Belgium  Cafe Mocha        10236         41   3307.770000
10  Belgium  Cafe Mocha        10251         20   6635.109333
11  Belgium  Cafe Mocha        10263         21   4472.000000
12  Germany  Cafe Mocha        10223         16   2793.860000
13  Germany  Cafe Mocha        10236         41   3307.770000
14  Germany  Cafe Mocha        10251         20   6635.109333
15  Germany  Cafe Mocha        10263         21   4472.000000
16  Germany  Cafe Mocha        10223         16   2793.860000
17  Germany  Cafe Mocha        10236         41   3307.770000
18  Germany  Cafe Mocha        10251         20   6635.109333
19  Germany  Cafe Mocha        10263         21   4472.000000
20   France       Latte        10168         39  12001.000000
21   France       Latte        10180         30   4140.230000
22   France       Latte        10188         32   9264.860000
23   France       Latte        10168         39  12001.000000
24   France       Latte        10180         30   4140.230000
25   France       Latte        10188         32   9264.860000
26   France       Latte        10168         39  12001.000000
27   France       Latte        10180         30   4140.230000
28   France       Latte        10188         32   9264.860000

In [16]:
pd.merge(df2,df1, how ='right',indicator = True)

    Country PRODUCTLINE  ORDERNUMBER  ITEMSSOLD         SALES _merge
0   Belgium      Coffee        10381         30   8254.800000   both
1   Belgium      Coffee        10381         30   8254.800000   both
2   Belgium      Coffee        10391         34   4140.230000   both
3   Belgium      Coffee        10391         34   4140.230000   both
4   Belgium  Cafe Mocha        10223         16   2793.860000   both
5   Belgium  Cafe Mocha        10223         16   2793.860000   both
6   Germany  Cafe Mocha        10223         16   2793.860000   both
7   Germany  Cafe Mocha        10223         16   2793.860000   both
8   Belgium  Cafe Mocha        10236         41   3307.770000   both
9   Belgium  Cafe Mocha        10236         41   3307.770000   both
10  Germany  Cafe Mocha        10236         41   3307.770000   both
11  Germany  Cafe Mocha        10236         41   3307.770000   both
12  Belgium  Cafe Mocha        10251         20   6635.109333   both
13  Belgium  Cafe Mocha        10251         20   6635.109333   both
14  Germany  Cafe Mocha        10251         20   6635.109333   both
15  Germany  Cafe Mocha        10251         20   6635.109333   both
16  Belgium  Cafe Mocha        10263         21   4472.000000   both
17  Belgium  Cafe Mocha        10263         21   4472.000000   both
18  Germany  Cafe Mocha        10263         21   4472.000000   both
19  Germany  Cafe Mocha        10263         21   4472.000000   both
20   France       Latte        10168         39  12001.000000   both
21   France       Latte        10168         39  12001.000000   both
22   France       Latte        10168         39  12001.000000   both
23   France       Latte        10180         30   4140.230000   both
24   France       Latte        10180         30   4140.230000   both
25   France       Latte        10180         30   4140.230000   both
26   France       Latte        10188         32   9264.860000   both
27   France       Latte        10188         32   9264.860000   both
28   France       Latte        10188         32   9264.860000   both

In [17]:
pd.merge(df2,df1, how ='outer')

    Country PRODUCTLINE  ORDERNUMBER  ITEMSSOLD         SALES
0   Belgium      Coffee        10381         30   8254.800000
1   Belgium      Coffee        10391         34   4140.230000
2   Belgium      Coffee        10381         30   8254.800000
3   Belgium      Coffee        10391         34   4140.230000
4   Belgium  Cafe Mocha        10223         16   2793.860000
5   Belgium  Cafe Mocha        10236         41   3307.770000
6   Belgium  Cafe Mocha        10251         20   6635.109333
7   Belgium  Cafe Mocha        10263         21   4472.000000
8   Belgium  Cafe Mocha        10223         16   2793.860000
9   Belgium  Cafe Mocha        10236         41   3307.770000
10  Belgium  Cafe Mocha        10251         20   6635.109333
11  Belgium  Cafe Mocha        10263         21   4472.000000
12  Germany  Cafe Mocha        10223         16   2793.860000
13  Germany  Cafe Mocha        10236         41   3307.770000
14  Germany  Cafe Mocha        10251         20   6635.109333
15  Germany  Cafe Mocha        10263         21   4472.000000
16  Germany  Cafe Mocha        10223         16   2793.860000
17  Germany  Cafe Mocha        10236         41   3307.770000
18  Germany  Cafe Mocha        10251         20   6635.109333
19  Germany  Cafe Mocha        10263         21   4472.000000
20   France       Latte        10168         39  12001.000000
21   France       Latte        10180         30   4140.230000
22   France       Latte        10188         32   9264.860000
23   France       Latte        10168         39  12001.000000
24   France       Latte        10180         30   4140.230000
25   France       Latte        10188         32   9264.860000
26   France       Latte        10168         39  12001.000000
27   France       Latte        10180         30   4140.230000
28   France       Latte        10188         32   9264.860000

In [18]:
pd.merge(df2,df1, how ='outer', indicator = True)

    Country PRODUCTLINE  ORDERNUMBER  ITEMSSOLD         SALES _merge
0   Belgium      Coffee        10381         30   8254.800000   both
1   Belgium      Coffee        10391         34   4140.230000   both
2   Belgium      Coffee        10381         30   8254.800000   both
3   Belgium      Coffee        10391         34   4140.230000   both
4   Belgium  Cafe Mocha        10223         16   2793.860000   both
5   Belgium  Cafe Mocha        10236         41   3307.770000   both
6   Belgium  Cafe Mocha        10251         20   6635.109333   both
7   Belgium  Cafe Mocha        10263         21   4472.000000   both
8   Belgium  Cafe Mocha        10223         16   2793.860000   both
9   Belgium  Cafe Mocha        10236         41   3307.770000   both
10  Belgium  Cafe Mocha        10251         20   6635.109333   both
11  Belgium  Cafe Mocha        10263         21   4472.000000   both
12  Germany  Cafe Mocha        10223         16   2793.860000   both
13  Germany  Cafe Mocha        10236         41   3307.770000   both
14  Germany  Cafe Mocha        10251         20   6635.109333   both
15  Germany  Cafe Mocha        10263         21   4472.000000   both
16  Germany  Cafe Mocha        10223         16   2793.860000   both
17  Germany  Cafe Mocha        10236         41   3307.770000   both
18  Germany  Cafe Mocha        10251         20   6635.109333   both
19  Germany  Cafe Mocha        10263         21   4472.000000   both
20   France       Latte        10168         39  12001.000000   both
21   France       Latte        10180         30   4140.230000   both
22   France       Latte        10188         32   9264.860000   both
23   France       Latte        10168         39  12001.000000   both
24   France       Latte        10180         30   4140.230000   both
25   France       Latte        10188         32   9264.860000   both
26   France       Latte        10168         39  12001.000000   both
27   France       Latte        10180         30   4140.230000   both
28   France       Latte        10188         32   9264.860000   both

In [19]:
df1

   ORDERNUMBER PRODUCTLINE  ITEMSSOLD         SALES
0        10381      Coffee         30   8254.800000
1        10391      Coffee         34   4140.230000
2        10223  Cafe Mocha         16   2793.860000
3        10236  Cafe Mocha         41   3307.770000
4        10251  Cafe Mocha         20   6635.109333
5        10263  Cafe Mocha         21   4472.000000
6        10168       Latte         39  12001.000000
7        10180       Latte         30   4140.230000
8        10188       Latte         32   9264.860000

In [20]:
df2

   Country PRODUCTLINE
0  Belgium      Coffee
1  Belgium      Coffee
2  Belgium  Cafe Mocha
3  Belgium  Cafe Mocha
4  Germany  Cafe Mocha
5  Germany  Cafe Mocha
6   France       Latte
7   France       Latte
8   France       Latte